.main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  /* header and list of cards */
  grid-template-rows: 150px 1fr;
  text-align: center;
  place-items: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
  overflow-y: auto;
  height: 100%;
}

.card {
  height: 140px;
  padding: 5px;
  width: 100%;
  border: 1px solid #000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}